body {
  background: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* color: white; */
  font-family: sans-serif;
}

.calc {
  /* background: #222; */
  padding: 15px;
  border-radius: 10px;
  width: 300px;
}

#input-resultado,#input-operacion {
  width: 90%;
  font-size: 24px;
  padding: 10px;
  margin-bottom: 10px;  
  border: none;  
  text-align: right;
  /* background: #000;
  color: lime; */
} 

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}


button {
  padding: 15px;
  font-size: 18px;  
  border: none;
  border-radius: 5px;
  /* background: #444;
  color: white; */
  cursor: pointer;
}

#boton-claro {
    grid-column: span 4; 
    background: #f0ad4e;
    height: 45px;
}

#boton-limpiar{
    grid-column: span 1; 
    background: crimson;
}

#boton-limpiar-claro{
    grid-column: span 1; 
    background: #f0ad4e;
}

/* .boton-numerico { 
  background: #777;
} */

.boton-operador { 
  background: #5338ee;
}

#boton-resolver {
  background: #38ee53;  
}

button:hover {
  background: #999;
}

.modo-claro {    
  .calc {
    background: red;
  };
  input{
    background: white;
    color:#f0ad4e;
  };
  .boton-numerico {background: gray;color: #f0f0f0;};

}
.modo-oscuro {  
  .calc {
    background: #222;
  };
  input {
    background: #000;
    color: lime;
  }; 
  .boton-numerico {background: black;  color: greenyellow;};
} 
